# Virtual environments
.genai_inpainting_venv/
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
